python == 3.6.0
pip == 19.0.3
nlp == 0.4.0
nltk == 3.5
numpy == 1.19.2
openpyxl == 3.0.6
pandas == 1.1.2
parse == 1.18.0
random2 == 1.0.1
regex == 2020.11.13
scikit-learn == 0.23.2
scipy == 1.5.4
simplejson == 3.17.2
os == 0.14.0
sklearn == 0.0
Transformers == 4.4.1
tokenizers == 0.10.1
xlrd == 1.2.0